<div class="scrollable">
  <div class="scrollable-content" ng-controller='showDetailsController'>
      <div class="list-group" ui-toggle="uiSidebarRight">

          <a class="list-group-item media" href="index.html#/insertnews1" ng-click="showshequUserId($index)" ng-repeat="item in userList">
              <div class="pull-left">
                  <i class="fa fa-user chat-user-avatar"></i>
              </div>
              <div class="media-body">
                  <h5 class="media-heading">{{ item.user.name }}</h5>
<!--                   <small ng-switch on="user.online"> -->
<!--                       <span ng-switch-when="true"> -->
<!--                           <span class="label label-success">在线</span> -->
<!--                       </span> -->
<!--                       <span ng-switch-default> -->
<!--                           <span class="label label-default"><i>离线</i> -->
<!--                           </span> -->
<!--                       </span> -->
<!--                   </small> -->
              </div>
          </a>

      </div>
  </div>
</div>
