<!--  <div class="scrollable"  ng-show="scrollableshow">-->
<div class="scrollable"  >
   <div class="unscrollable">
     <h1 class="scrollable-header app-name">云校通</h1> 
	 <a href="index.html#/wodezhanghao" style="text-decoration:none;">
		<div class="head-image">
     		<img ng-src="image/zhihuishu.jpg" height="80px" width="80px"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;刘一</span>
  	 	</div>
	</a>
	
     
  <div class="unscrollable" >  
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="index.html#/url_user_login">个人中心 <i class="fa fa-chevron-right pull-right"></i></a>
     <!-- 
      <a class="list-group-item" ng-click="banjidetailbyuser()">班级 <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ng-click="schooldetailbyuser()">学校 <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ng-click="gradegroupdetailbyuser()">年级组 <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="index.html#/url_news_list">消息{{ newsJson.isread }}<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="index.html#/url_zuoye_list">作业{{ zuoyeJson.tixing }} <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="index.html#/insertnews">发消息 <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="index.html#/album">相册 <i class="fa fa-chevron-right pull-right"></i></a>

 -->
      <a class="list-group-item" href="index.html#/banjixiaoxi">班级消息 <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="index.html#/xuexiaoshequ">学校社区 <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="index.html#/shenghuozhinan">生活指南 <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="index.html#/me">我 <i class="fa fa-chevron-right pull-right"></i></a>




<!--       <a class="list-group-item" href="index.html#/toexaminemember">审核 <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/subject">科目 <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/exercises">习题分享 <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/extracurricularactivities">课余活动 <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/register">注册 <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/login">登录 <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/applymember">申请 <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/articlecategory">分类管理 <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/articletitle">专题管理 <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/article">文章管理 <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/member">成员 <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/insertnews">添加消息 <i class="fa fa-chevron-right pull-right"></i></a> -->
      
      
      
<!--       <a class="list-group-item" href="index.html#/scroll">scroll <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/toggle">toggle <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/tabs">tabs <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/accordion">accordion <i class="fa fa-chevron-right pull-right"></i></a> -->
<!-- 	  <a class="list-group-item" href="index.html#/overlay">Overlay <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/forms">Forms <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/dropdown">Dropdown <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/drag">Drag 1 <span class="label label-danger">Experimental</span> <i class="fa fa-chevron-right pull-right"></i></a> -->
<!--       <a class="list-group-item" href="index.html#/carousel">Drag 2 <span class="label label-danger">Experimental</span> <i class="fa fa-chevron-right pull-right"></i></a> -->
    </div>
  </div>
</div>
</div>
